body {
  background-color: $white;
}

.info-background {
  height: 5em;
  width: auto;
  background-repeat: no-repeat;
  background-position: center;
}


// ********* HOMEPAGE ***********
.copy-block {
  width: 60%;
  max-width: 1200px;
  margin: 5em auto;
  text-align: center;

  h1 {
    text-transform: uppercase;
  }

  p {
    text-align: left;
    padding-top: 1em;
    line-height: 1.25;
  }

}

.main-image-container {
  position: relative;
  width: 80%;
  height: 35em;
  margin: 0 auto;

  .inner-image-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .image-info {
      position: absolute;
      top: 0;
      left: 40%;
      width: 50%;
      text-transform: uppercase;
    }

    .top-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 350px;
      height: auto;
    }

    .center-image {
      position: absolute;
      z-index: 2;
      top: 35%;
      left: 30%;
      width: 350px;
      height: auto;
    }

    .faded-right-image {
      position: absolute;
      top: 30%;
      left: 60%;
      width: 350px;
      height: auto;
      opacity: .65;
    }

    .faded-left-image {
      position: absolute;
      top: 60%;
      left: 5%;
      width: 350px;
      height: auto;
      opacity: .65;
    }
  }
}

.info-section {
  margin: 5em auto;
}

.info-cols {
  height: auto;
  overflow: hidden;
}

.info-col {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  overflow: hidden;

  .info-background {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-image: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform-origin: 50% 50%;
    transition: transform 0.5s ease;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(rgb(47, 48, 50));
    opacity: 0.5;
    width: 101%;
    height: 100%;
    z-index: 2;
    transition: opacity 0.5s ease;
  }

  h2 {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    margin: 0;
    padding: 4em 0;
    z-index: 2;
  }

  &:hover {

    .info-background {
      transform: scale(1.15);
    }

    &::before {
      opacity: 0;
    }
  }
}

.quote {

  blockquote {
    width: 25%;
    text-align: left;
    margin: 0 auto 5em;
  }
}

.ribbon {
  background-color: #d8d8d8;
  text-align: center;
  padding: 1.5em 0;

  h3 {
    text-transform: uppercase;
  }

  p {
    padding: 1em 0 1.5em 0;
  }

  a {
    border: 1px solid $blue;
    background-color: $blue;
    color: $white;
    text-decoration: none;
    padding: .5em 1em;
    box-shadow: 10px 8px 10px #888888;
  }
}
