body.login { background: white;}

/* LOGIN PAGE */
#login h1 a {

background: url(../assets/img/logo.png) no-repeat;
display: block;
width: 280px;
height: 108px;
text-indent: -9999px;
background-size: initial;
padding-bottom: 0;
margin-bottom: 25px;
}

#login h1 a:hover { opacity:1; }

.login #nav a, .login #backtoblog a { color:#bf362b !important; }
.login #nav a:hover, .login #backtoblog a:hover { color:#bf362b !important; }