.full-image {

  img {
    width: 100%;
    height: auto;
  }
}

.admin {
  margin: 4em auto;

  .image-holder {
    width: 40vw;

    img {
      width: 100%;
      height: auto;
    }

  }

  div {
    h3 {
      text-transform: uppercase;
      padding-bottom: 1em;
    }

    p {
      padding: .5em 0;
    }
  }
}

.family-posts {
  width: 80%;
  margin: 0 auto;
  text-align: center;

  h2 {
    padding-bottom: 1em;
  }

  .our-family {

    .employee-content {
      padding-bottom: 2em;
      margin: 1em 0;
      text-align: center;

      .employee-img-holder {
        width: 250px;
        height: 250px;
        overflow: hidden;
        margin: 0 auto;
        position: relative;

        img {
          position: absolute;
          margin: auto;
          min-height: 100%;
          min-width: 100%;
          /* For the following settings we set 100%, but it can be higher if needed to center the image within the container */
          left: -100%;
          right: -100%;
          top: -100%;
          bottom: -100%;
        }
      }

      .employee-info {
        text-align: center;

        h4 {
          padding-top: .5em;
        }

        h6 {
          padding-bottom: .5em;
        }

        p {
          width: 90%;
          margin: 0 auto;
        }

        @media screen and(max-width: $mobile-sm) {
          p {
            display: none;
          }
        }
      }

      @media screen and(max-width: $mobile-sm) {
        padding-bottom: 0;
      }
    }
  }
}
