#site-title,
#site-description {
  display: none;
}

.main-navigation {
  background-color: $white;
  opacity: 0.7;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 0 3em 1em;

  li {

    a {
      text-decoration: none;
      color: $black;
      text-transform: uppercase;

      &:hover {
        color: $blue;
      }
    }
  }
}
