#site-title,
#site-description {
  display: none;
}

.main-navigation {
  background-color: $white;
  opacity: .7;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
  z-index: 3;

  .logo {
    a {
      img {
        width: 120px;
        height: auto;
      }
    }
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 0 3em;

  li {

    a {
      text-decoration: none;
      color: $black;
      text-transform: uppercase;
      font-weight: bold;

      &:hover {
        color: $blue;
      }
    }
  }
}

@media only screen and (max-width: 760px) {
  .main-nav {
    display: none;
  }
}
