.page-content {
  width: 80%;
  margin: 0 auto;
  text-align: center;

  h1 {
    padding-bottom: 2em;
  }
}

// sass-lint:disable class-name-format
.job_listing {
  h1 {
    text-align: center;
    padding-top: 3em;
    padding-bottom: 2em;
  }
}

// sass-lint:disable class-name-format
.single_job_listing {
  width: 80%;
  margin: 0 auto;
}
